<?php
/**  @var \Magenest\Movie\Block\Adminhtml\index $block; */
    echo $block->getTitle();
?>
<fieldset class="fieldset button">
    <div class="field button-collapse">
        <button class="button-1" id="btn-test" type="button"><span>Open Modal</span></button>
        <button class="button-2" id="btn-login" type="button"><span>Magento Login Modal</span></button>
        <button class="button-3" type="button"><span>Open Customer Login Modal</span></button>
    </div>

    <div class="modal" >
        <div class="modal-body-content">
            <label> Username:
                <input type="text"/>
            </label>
            <label>
                Password:
                <input type="password"/>

            </label>
        </div>
    </div>
</fieldset>


<script>
    // require([
    //     'jquery',
    //     'jquery/ui'
    // ], function($){
    //
    //     $(".button-1").click(function(){
    //         alert("Hello World");
    //     });
    //
    // });

    require([
        'jquery',
        'Magento_Ui/js/modal/alert'
    ], function ($,alert) {
        'use strict';
        $('#btn-test').on('click', function(){
            alert({
                title: 'Alert Title',
                modalClass: 'alert',
                actions: {
                    always: function() {
                        // do something when the modal is closed
                    }
                },
                buttons: [{
                    text: $.mage.__('Accept'),
                    class: 'action primary accept',

                    /**
                     * Click handler.
                     */
                    click: function () {
                        this.closeModal(true);
                    }

                }],
            });
        })
    });


    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function ($, modal){
        'use strict';

        const options = {
            type: 'popup',
            responsive: true,
            class:'modal',
            title: 'Login',
            buttons: [{
                text: $.mage.__('Close'),
                click: function () {
                    this.closeModal();
                }
            }]
        };

        const popup = modal(options, $('.modal'));
        $('.button-2').click(function() {
            $('.modal').modal('openModal');
        });

    });
</script>



