<?php
/**  @var \Magenest\Chapter6\Block\Adminhtml\getLeftContent  $block ;
 */
$collection = $block->getAll();
$count = 0;
function startWith($string, $startString): bool
{
    $len = strlen($string);
    return (substr($string, 0, 8) === $startString);
}
?>

<?php
foreach ($collection as $item)
{
    if (startWith($item['name'], 'Magenest')) {
        $count++;
    }
}
?>
<div class="admin__page-section-item order-information">
    <h2>Today request</h2>
    <h3>Number of Module Installed in: <?= $count ?></h3>
</div>

<!--$collection = count($block->getAll());-->
<!--?>-->
<!---->
