<?php
/**  @var \Magenest\Chapter6\Block\Adminhtml\getRightContent $block ; */

$customerCollection = $block->getCustomer();
$productCollection  = $block->getProduct();
$orderCollection = $block->getOrder();
$invoicesCollection  = $block->getInvoice();
$creditmemoCollection = $block->getCreditmemo();

?>
<?=
    $block->getChildHtml('left');
?>

<div class="admin__page-section-item order-information">
    <span class="title">Details</span>
    <table class="admin__table-secondary order-information-table">
        <tbody><tr>
            <th> Number of Customer:  </th>
            <td> <?= count($customerCollection) ?></td>
        </tr>
        <tr>
            <th>Number of Products:</th>
            <td><span id="order_status">  <?= count($productCollection) ?>  </span></td>
        </tr>
        <tr>
            <th>Order: </th>
            <td>  <?= count($orderCollection) ?> </td>
        </tr>
        <tr>
            <th>Invoices</th>
            <td> <?= count($invoicesCollection) ?></td>
        </tr>
        <tr>
            <th>Creditmemo</th>
            <td> <?= count($creditmemoCollection) ?></td>
        </tr>


        </tbody></table>
</div>

