{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%customer_name," customer_name=$order.getCustomerName()}}</p>
            <p>
                {{trans "Your order placed from %store_name is ready for pickup." store_name=$store.getFrontendName()}}
                {{trans "%msg1"}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Your Order <span class="no-link">#%increment_id</span> is complete'
                increment_id=$order.increment_id |raw}}</h1>
            <p>{{trans "Please feel free to pickup your order now."}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Shipping Info"}}</h3>
                        <p>{{formattedShippingAddress($order)}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{trans "%description", description = $order.getShippingDescription()}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
