<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magenest\EAVExercises\Block\Account\Dashboard\Information $block */
?>
<div class="block block-dashboard-information">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Information Added')) ?></strong>
    </div>
    <div class="block-content">
        <div class="box box-customer-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Information')) ?></span>
            </strong>
            <div class="box-content">
                    <div class="field">
                        <img src="<?php echo $block->getFileUrl() ?>" alt="image" />
                    </div>
              <p>
                  <?= $block->escapeHtml($block->getName()) ?> <br>
                  <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?>
              </p>
            </div>
        </div>
    </div>
</div>
