
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%customer_name," customer_name=$order.getCustomerName()}}</p>
            <p>
                {{trans "Your order placed from %store_name is ready for pickup." store_name=$store.getFrontendName()}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Your Order <span class="no-link">#%increment_id</span> is complete'
                increment_id=$order.increment_id |raw}}</h1>
            <p>{{trans "Please feel free to pickup your order now."}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>Your order include:</h3>
                        <p>Linkdownload product: </p>
                        <p>Linkdownload product:  </p>

                    </td>
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Shipping Method"}}</h3>
                        <p>{{var order.getShippingDescription()}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
