<?php
/**  @var Magenest\BaiTap9\Block\Index $block; */
    $collection = $block->getBlog();
//    $collectionUser = $block->getUser();
?>

<?php
    foreach ($collection as $items){
    echo "<pre>";
    print_r($items->getData());
    echo "</pre>";
}

//        echo "<pre>";
//        print_r($collectionUser->getData());
//        echo "</pre>";
?>
