
<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">

    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend>
    <p>
    <div class="field regulation">
        <label for="telephone" class="label"><span><?php /* @escapeNotVerified */
                echo __('Telephone') ?></span></label>
        <div class="control">
            <input type="text" data-validate="{'validationphone':true}" name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Telephone') ?>" class="input-text">
        </div>
    </div>
    </p>

</fieldset>

<script type="text/x-magento-init">
        {
            "*": {
                "myValidation": {}
            }
        }
</script>

<!--

 -->
