<?php
/**  @var Magenest\BaiTap9\Block\Showtabledata $block; */

    $collection = $block->getCollection();
if ($collection->count()) {
    ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('Grid Record') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php echo __('ID') ?></th>
                <th scope="col" class="col email"><?php echo __('Title') ?></th>
                <th scope="col" class="col Title"><?php echo __('URL_REWRITE') ?></th>
                <th scope="col" class="col tooltip"><?php echo __('TOOL') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php
            foreach ($collection as $item): ?>
                <tr>
                    <td data-th="<?= $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $item->getId() ?>
                    </td>

                    <td data-th="<?= $block->escapeHtml(__('Title')) ?>" class="col email">
                        <?php echo $item->getTitle() ?>
                    </td>

                    <td data-th="<?= $block->escapeHtml(__('URL_REWRITE')) ?>" class="col Title">
                        <?php
                        $params = [
                            'id' => $item->getID(),
                        ];
                        ?>
                    <a href="<?= $block->escapeUrl($block->getUrl('frontend/post/details/',$params)) ?>">    <?php echo $item->getUrlRewrite() ?>    </a>

                    </td>




                    <td data-th="<?= $block->escapeHtml(__('TOOLs')) ?>" class="col Title">
                        <a class="button btn-danger" href="frontend_post_editblog">Edit Blog</a>
                    </td>

                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php
}
?>
