<?php
/**  @var Magenest\FrontendEx\Block\Index $block; */
?>
<fieldset class="fieldset button">
    <div class="field button-collapse">
        <button class="button-1" id="btn-test" type="button"><span>Open Modal</span></button>
        <button class="button-2" id="btn-login" type="button"><span>Magento Login Modal</span></button>
        <button class="button-3" type="button"><span>Open Customer Login Modal</span></button>
    </div>
</fieldset>

<script>
    require([
        'jquery',
        'Magento_Ui/js/modal/alert'
    ], function ($,alert) {
        'use strict';
        $('#btn-test').on('click', function(){
            alert({
                title: 'Alert Title',
                modalClass: 'alert',
                actions: {
                    always: function() {
                        // do something when the modal is closed
                    }
                },
                buttons: [{
                    text: $.mage.__('Accept'),
                    class: 'action primary accept',

                    /**
                     * Click handler.
                     */
                    click: function () {
                        this.closeModal(true);
                    }

                }],
            });
        })
    });

</script>

