<?php
/**  @var Magenest\FrontendEx\Block\Test $block; */
?>
<div class="columns"><div class="column main"><input name="form_key" type="hidden" value="IH4YvRRpuATDaL6z"><div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}" style="display: none;">
            <script>window.authenticationPopup = {"autocomplete":"off","customerRegisterUrl":"http:\/\/example.com\/customer\/account\/create\/","customerForgotPasswordUrl":"http:\/\/example.com\/customer\/account\/forgotpassword\/","baseUrl":"http:\/\/example.com\/","customerLoginUrl":"http:\/\/example.com\/customer\/ajax\/login\/"}</script>    <!-- ko template: getTemplate() -->

            <!-- /ko -->

        </div>

        <div class="login-container"><div class="block block-customer-login">
                <div class="block-title">
                    <strong id="block-customer-login-heading" role="heading" aria-level="2">Login Customers</strong>
                </div>
                <div class="block-content" aria-labelledby="block-customer-login-heading">
                    <form class="form form-login" action="http://example.com/customer/account/loginPost/referer/aHR0cDovL2V4YW1wbGUuY29tL2Zyb250ZW5kL3Rlc3QvaW5kZXgv/" method="post" id="login-form" novalidate="novalidate">
                        <input name="form_key" type="hidden" value="IH4YvRRpuATDaL6z">
                        <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                            <div class="field note">If you have an account, sign in with your email address.</div>
                            <div class="field email required">
                                <label class="label" for="email"><span>Email</span></label>
                                <div class="control">
                                    <input name="login[username]" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" aria-required="true">
                                </div>
                            </div>
                            <div class="field password required">
                                <label for="pass" class="label"><span>Password</span></label>
                                <div class="control">
                                    <input name="login[password]" type="password" autocomplete="off" class="input-text" id="pass" title="Password" data-validate="{required:true}" aria-required="true">
                                </div>
                            </div>
                            <div class="field choice" data-bind="scope: 'showPassword'">
                                <!-- ko template: getTemplate() -->

                                <input type="checkbox" name="show-password" data-bind="attr: {title : $t('Show Password')}, checked: isPasswordVisible" id="show-password" class="checkbox" data-role="show-password" title="Show Password">
                                <label for="show-password" class="label"><span data-bind="i18n: 'Show Password'">Show Password</span></label>
                                <!-- /ko -->
                            </div>
                            <div class="actions-toolbar">
                                <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>Sign In</span></button></div>
                                <div class="secondary"><a class="action remind" href="http://example.com/customer/account/forgotpassword/"><span>Forgot Your Password?</span></a></div>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
    </div></div>
