<?php
/**  @var Sample $block ; */

use Magenest\Movie\Block\Widget\Sample;

?>

<button id="sample">
    <?= $block->getData('title') ?>
</button>

<style>
    #sample {
        border-radius: 5px;
        width: <?= $block->getData('width') ?>;
        height: <?= $block->getData('height') ?>;
        color: <?= $block->getData('color') ?>;
    }
</style>
