
<input type="button" name="btn_refresh" id="btn_refresh" value="Refresh Page" onClick="location.href=location.href">

<!--<script>-->
<!--    const refreshButton = document.querySelector('.btn_refresh');-->
<!---->
<!--    const refreshPage= () =>{-->
<!--        location.reload();-->
<!--    }-->
<!---->
<!--    refreshButton.addEventListener('click', refreshPage)-->
<!--</script>-->
